@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root
{
    --main-color:rgb(65, 17, 156);
    --main-color-subtle:rgb(65, 17, 156, .2);
    --sub-color: rgb(252, 99, 2, .8);
    --sub-color-subtle: rgb(252, 99, 2, .2);
}


* {
    font-family: 'Ubuntu', sans-serif;
    color: whitesmoke;
}

.navbar .active {
    color: var(--sub-color) !important;
}



